.body {
    magin: 0px;
}

section {
    margin: 0 auto;
    width: 940px;
}

.throughput table th {
    font-size: +2.4em;
    width: 230px;
}

.throughput table td {
    text-align: center;
    font-size: +2em;
}

/* aggregations */

.aggregation {
    margin-top: 40px;
}

.aggregation table th {
    font-size: +2em;
    width: 220px;
}

.aggregation table th:nth-child(1) {
    width: 20%;
}

.aggregation table th:nth-child(2) {
    width: 15%;
}

.aggregation table td {
    text-align: center;
    font-size: +1.4em;
    padding: 10px;
}

.aggregation .changed {
    font-weight: bold;
}

.aggregation thead {
    cursor: pointer;
}

.aggregation tfoot td:nth-child(1) {
    font-size: +2em;
    font-weight: bold;
}

/* states */

.states {
    background-color: #00b3ff;
}

.states table thead tr, .states table tfoot tr {
    background-color: #008fc8;
}

.states table td.total {
    background-color: #008fc8;
}

.states .changed {
    background-color: #008fc8;
}

/* cities */

.cities table tbody td:nth-child(1) {
    text-align: left;
    white-space: nowrap;
    font-size: +1em;
}

.cities {
    background-color: #ffcb00;
}

.cities table thead tr, .cities table tfoot tr {
    background-color: #cda200;
}

.cities table td.total {
    background-color: #cda200;
}

.cities .changed {
    background-color: #cda200;
}
